$ {
  const href = input.href.replace(/\\/g, '');
  const path = input.route.replace(/\\/g, '');
  const active = (href === path);
  const activeClass = input.activeClass || 'active';
  let classes = input.class;
  if (active) {
    classes = classes + ` ${activeClass}`;
  }
}

<a href=input.href class=classes><include(input.renderBody, input) /></a>
